<div class="@CssClassHelper.Combine("three-dots-component",CssClass)">
	<HxDropdownButtonGroup>
		<HxDropdownToggleButton Icon="BootstrapIcon.ThreeDotsVertical" CssClass="icon-only" />
		<HxDropdownMenu Alignment="DropdownMenuAlignment.End">
			@MenuItems
		</HxDropdownMenu>
	</HxDropdownButtonGroup>
</div>