@page "/"

<PageTitle>Dashboard</PageTitle>

<div class="row">
    <HxCard style="width: 45%; margin-right:1rem">
        <BodyTemplate>
            <HxCardTitle>Number of Correspondence</HxCardTitle>
            <HxCardSubtitle CssClass="mb-2 text-muted">18</HxCardSubtitle>
        </BodyTemplate>
    </HxCard>

    <HxCard style="width: 45%;">
        <BodyTemplate>
            <HxCardTitle>Number of Documents</HxCardTitle>
            <HxCardSubtitle CssClass="mb-2 text-muted">50</HxCardSubtitle>
        </BodyTemplate>
    </HxCard>
</div>